<!DOCTYPE html>
<html>
<head>
    <title></title>    
    <link rel="stylesheet" href="/stylesheets/webglbook.css" />
    <script src="/javascripts/three.min.js"></script>
    <script src="/javascripts/RequestAnimationFrame.js"></script>
    <script src="/javascripts/Demo3DSample2.js"></script>

</head>

<body onLoad="onLoad();" style="">

    <center><h1>Welcome to WebGL!</h1></center>
    <div id="container"
         style="width:95%; height:80%; position:absolute;">
    </div>
    <div id="prompt"
         style="width:95%; height:6%; bottom:0; position:absolute;">
        Click to animate the cube
    </div>
</body>

</html>